/* 
textColor: '#ababab'
backgroundColor: '#131415'
cardColor: '#242628'
cardBorderColor: '#5D5D5D' 
 */

.title {
    font-size: 20px;
    color: #00ff00;
    margin-bottom: 18px;
    font-weight: 1;
}
.input {
    width: '100px';
}